.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
  }

  h3 {
    margin: 10px 0;
  }

  .sign-in-buttons {
    button {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
