$base: #001fcc;
$lighter1: lighten(adjust-hue($base, 5), 10%);
$lighter2: lighten(adjust-hue($base, 10), 20%);
$darker1: darken(adjust-hue($base, -5), 10%);
$darker2: darken(adjust-hue($base, -10), 20%);
.colour3 {
  background: $base;
}
.colour2 {
  background: $lighter1;
}
.colour1 {
  background: $lighter2;
}
.colour4 {
  background: $darker1;
}
.colour5 {
  background: $darker2;
}
