@import "../../styles/variables";

.header {
  background-color: white;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 15px 50px 15px 50px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;

  a {
    text-decoration: none;
    color: $base;
  }

  .title {
    color: $lighter1;
    font-weight: 200;
    font-size: 40px;
    text-transform: uppercase;

    &:hover {
      color: $lighter1;
      font-size: 40px;
    }
  }

  .subtitle {
    color: $darker1;
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
    padding-left: 15px;
    vertical-align: text-bottom;
  }

  .options {
    color: $base;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      margin: 5px 10px 5px 10px;

      &:hover {
        color: $lighter1;
      }
    }
  }
}
